// out: footer.css, sourcemap: false, compress: true
*{font-family: 'Pathway Gothic One', sans-serif;}
@media screen and (max-width:1200px) {
    .footer .foot_top{
        a{
            width:500px;
        }
    }
}

.footer{
    width:100%;
    height:356px;
    margin-top:-4px;
    .foot_top{
        width:100%;
        height: 70px;
        background-color:#191919;
        ul{
            max-width:1100px;
            height:100%;
            margin:0 auto;
            a{
                color:#fff;
                font-size: 14px;
            }
            li{
                width:50%;
                float:left;
                text-align:center;
                position:relative;
                line-height:450%;
                a{
                    width:100%;
                    height:100%;
                }
                span{
                    .timg{
                        padding:22px 15px;
                    }
                    .next_arr{
                        padding:32px 15px;
                    }

                }
            }
        }
    }
    .foot_bottom{
        width:100%;
        height:286px;
        background-color:#000;
        .f_txt{
            position: relative;
            max-width:1200px;
            height:118px;
            padding:84px 0;
            margin: 0 auto;
            text-align:center;
            img{
                width:67px;
                height:47px;
                margin-top:5%;
                margin:0 auto;
            }
            .spot{
                width:100%;
                font-size:14px;
                color:#b5b5b5;
                letter-spacing:1px;
                padding-top: 2%;
                letter-spacing:2px;
            }
            .coperate{
                width:100%;
                font-size:14px;
                color:#535353;
                letter-spacing:1px;
                padding-top:.5%;
                letter-spacing:1.5px;
            }
        }
    }
}
